@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

p {
      line-height: 1.5;
}


.hero-unit {
      text-align: left;
      padding: 20px 0px 20px 0px;
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
      background: #5496de;
      background-repeat: repeat-x;
      -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
}

#home .hero-unit  {
      padding: 20px 0px 20px 0px;
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
      background: #5496de;
      background-repeat: repeat-x;
      -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      text-align: center;
}

.hero-unit  h1 {
      font-size: 5em;
      font-weight: bold;
      
}

#home .hero-unit p {
      max-width: 900px;
      margin: 0 auto;
      font-size: 1.5em;
}

.hero-unit p {
      font-size: 1.5em;
}

.hero-unit .btn {
      font-size: 14px;
      padding: 14px 24px;
      text-shadow: none;
      -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.2);
      -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.2);
      box-shadow: 0px 0px 0px rgba(0,0,0,.2);
      margin: 30px 0px;
      font-weight: bold;
}



.btn-dark {
      background-color: #222;
      opacity: .9;
      color: #fff;
}

.btn-dark:hover {
      opacity: 1;
      color: #fff;
}

.btn-lightblue {
      border: solid 1px #426fc1;
      background-color: #c4eaff;
      background: -webkit-linear-gradient(top, #c4eaff 0%,#b0cdfd 100%); /* Chrome10+,Safari5.1+ */
      background: -moz-linear-gradient(top, #c4eaff 0%,#b0cdfd 100%); /* Firedox */
      background: linear-gradient(top, #c4eaff 0%,#b0cdfd 100%); 
      color: #316ba6;
}

.btn-lightblue:hover {
      color: #316ba6;
      background: #c4eaff;
}


.social-icons {
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
      padding: 15px 0px 10px 0px;
}

.icon-gray {
      color: #222;
      background-color: #e0e0e0;
      border-radius: 50%;
      width: 60px;

      max-width: 100%;
      text-align: center;
      line-height: 60px;
      position: relative;
      top: 3px;
      float: left;
      margin-right: 20px;
}

#video {
      margin-top: 30px;
      border: 5px solid #e0e0e0;
      border-radius: 3px;
}

.bullets {
      margin-top: 30px;
}

p.message {
      line-height: 1.6;
}


.enablers {
      font-size: 1.5em;
}

.enablers div {
      margin-top: 25px;
}

.enablers p {
      font-weight: bold;
      margin-right: 0em;
      display: inline;
      margin-top: 40px;
}

.enablers span {
      margin-right: 7px;
      color: #169704;
      font-size: 1.0em;
}

.center {
      text-align: center;
}

footer p {
      padding: 15px 0px 25px 0;
}

.img-caption {
      border: 1px solid #eee;
}

.caption-under {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #eee;
      padding: 10px 8px;
      font-weight: 100;
      font-style: italic;
      color: #666;
      text-align: center;
      width: 100%;
}

.margin-top-70 {
      margin-top: 70px;
}


/*----------------Docs-------------------*/

hr.nav {
      margin: 0px 10px;
}

.sidebar {
      background-color: #eee;
      padding: 10px;
      border-right: 1px solid #ccc;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      overflow-y: scroll;
      z-index: 99999;
      -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.1), 1px -1px 4px rgba(0,0,0,.1);
      -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.1), 1px -1px 4px rgba(0,0,0,.1);
      box-shadow: 1px 1px 4px rgba(0,0,0,.1), 1px -1px 4px rgba(0,0,0,.1);
      border-right: 1px solid #999999;
}


.sidebar a {
      display: block;
      border-bottom: 1px solid #ccc;
      padding: 6px 0px;
}

.hero-unit-sm {
      padding: 10px 0px 20px 0px;
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
      background: #5496de;
      background-repeat: repeat-x;
      -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
}

.hero-unit-sm h1 {
      font-weight: bold;
}

.hero-unit-sm p {
      font-weight: bold;
}

.brand-docs {
      padding-left: 0px;
}

/*-------------------------Solutions-----------------------------*/

.large {
      font-size: 1.3em;
}