/*-------------Bootstrapular-----------*/
body {
      padding-top: 20px;
      padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
      margin: 0 auto;
      max-width: 1000px;
}
.container-narrow > hr {
      margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
      max-width: 1000px;
      margin: 60px 0;  
      margin: 0 auto;
}

.home .jumbotron {
      max-width: 850px;
      margin: 60px 0;  
      margin: 0 auto;
}
.jumbotron h1 {
      font-size: 60px;
      line-height: 1;
}
.jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
      margin: 60px 0px;
}

.marketing p + h4 {
      margin-top: 28px;
}


/*------------------Le Real Deal-------------*/

#logo {
      margin-bottom: 23px;
}


#bg {
      padding: 20px 0px 20px 0px;
     
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
      background: #6ca4ff;
      background: -moz-linear-gradient(45deg, #4f91ff 0%, #b4feaf 100%);
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4f91ff), color-stop(100%,#8efe85));
      background: -webkit-linear-gradient(45deg, #4f91ff 0%,#8efe85 100%);
      background: -o-linear-gradient(45deg, #4f91ff 0%,#8efe85 100%);
      background: -ms-linear-gradient(45deg, #4f91ff 0%,#8efe85 100%);
      background: linear-gradient(45deg, #4f91ff 0%,#8efe85 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f91ff', endColorstr='#8efe85',GradientType=1 );
      -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
      box-shadow: inset 0px 1px 0px rgba(0,0,0,.2), inset 0px -1px 0px rgba(0,0,0,.2);
}

#bg.home{
     text-align: center;
     padding: 55px 0px 55px 0px;
}

.navigation {
      margin-top: 22px;
}

.navigation a {
      color: #222;
}

.nav a {
      text-decoration: none;
}

.icon-fix {
      margin-top: 8px;
}

.socialButtons {
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
      padding: 15px 0px 10px 0px;
}

.socialButtons .center {
      width: 270px;
      margin: 0 auto;
}

.users {
      text-align: center;
}

.users h4 {
      text-align: center;
}

.users hr {
      margin: 10px 0px 10px 0px;
      border-bottom-color: #ccc;
      border-top: none;
}

#whoitsfor {
      margin-bottom: -30px;
      text-align: center;
}


.contact {
      display: block;
      clear: both;
}

.team {
      border: 1px solid #ccc;
      padding: 4px;
      background-color: #eee;
      
}

.circle {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 3px solid #fff;
      box-shadow: 0px 0px 7px rgba(0,0,0,.3);
      margin-left: 60px;
      margin-bottom: 20px;
      
}

.circle.blue {
      background-color: #54baeb;
      background-image: url(../img/leadership.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.red {
      background-color: #f93939;
      background-image: url(../img/technical.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.green {
      background-color: #88e930;
      background-image: url(../img/financial.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.purple {
      background-color: #c10061;
      background-image: url(../img/functional.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.location {
      background: #7bddaa;
      background-image: url(../img/location.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.gitfollow {
      background: #70cabe;
      background-image: url(../img/gitfollow.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.issue {
      background: #66b9d2;
      background-image: url(../img/issue.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.circle.email {
      background: #5aa4ea;
      background-image: url(../img/mail.png);
      background-position:50% 50%;
      background-repeat:no-repeat; 
}

.graphScreen {
      margin-bottom: -400px;
}

hr.1 {
      padding-top: 0px;
      margin-top: 0px;
}

#myCarousel {
      border: 1px solid #ccc;
      padding: 3px;
      background-color: #eee;
}

p.lineFix {
      line-height: 1.9;
}

p#version {
      text-shadow: 0px 1px 0px rgba(0,0,0,.4);
      color: #fff;
      font-size: 0.9em;
      text-transform: uppercase;
      padding: none;
      margin: 25px 0px 0px 0px;
      line-height: 0;
      font-weight: bold;
}

.donate {
      margin-top: -8px;
}

.license {
      margin-top: -6px;
}


/*-----------------Docs----------------*/

.docContainer {
      width: 1000px;
      margin: 0 auto;
}

.docs h1 {
      color: white;
      font-family: helvetica, arial, sans-serif;
      font-weight: bold;
      line-height: .62;
}

.docs p {
      color: white;
      font-family: helvetica, arial, sans-serif;
      margin-top: 20px;
}

.docs li a:link {
      text-decoration: none;
      color: black;
}
.docs li a:visited {
      text-decoration: none;
      color: black;
}

.docs li.active a:link{
      color: white;
}

.docs li.active a:visited{
      color: white;
}

.docs li.active .unselected a:visited {
      color: #000;
}

.docs li.active .unselected a:hover {
      color: #fff;
}

.nav .dropdown-toggle .caret {
      border-top-color: #000;
      border-bottom-color: #000;
}