<html lang="en">
  <head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
	<title>PracticeFile</title>
 
	<link rel="stylesheet" href="practicecss.css">
  </head>
  
<body>
<!--<div class= "container-fluid" >	
	<div id="cssmenu">
		
			
			<ul>
				<li><a class = "navbutton" href = "index.html" role = "button">Home</a> </li>
				<li><a class = "navbutton" role = "button" href = "capabilities.html">Industries</a> </li>
				<li><a class = "navbutton" role = "button" href = "capabilities.html">Functions</a> </li>
				<li><a class = "navbutton" role = "button" href = "support.html">Support</a> </li>
				<li><a class = "navbutton" role = "button" href = "about.html">About</a> </li>
				<li><a class = "navbutton" role = "button" href = "about.html">Contact Us</a></li>
				<li><a class = "navbutton" role = "button" href = "#">Blog</a></li>
			</ul>
		</div>
		
	</div>
		
-->

	<div id='cssmenu'>

			<ul>
				
				<li><a href='#'><span>Home</span></a></li>
				<li class='active has-sub'><a href='#'><span>Products</span></a>
				  <ul>
					 <li class='has-sub'><a href='#'><span>Product 1</span></a>
						<ul>
						   <li><a href='#'><span>Sub Product</span></a></li>
						   <li class='last'><a href='#'><span>Sub Product</span></a></li>
						</ul>
					 </li>
					 <li class='has-sub'><a href='#'><span>Product 2</span></a>
						<ul>
						   <li><a href='#'><span>Sub Product</span></a></li>
						   <li class='last'><a href='#'><span>Sub Product</span></a></li>
						</ul>
					 </li>
				  </ul>
			   </li>
			   <li><a href='#'><span>About</span></a></li>
			   <li class='last'><a href='#'><span>Contact</span></a></li>
			</ul>
		</div>


	<div class="container">
		<div class="row">
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid5">
				<div class="colortest">
				</div>
			</div>
			<div class="grid7">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid6">
				<div class="colortest">
				</div>
			</div>
			<div class="grid6">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid7">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid8">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid9">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid10">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid11">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid12">
				<div class="colortest">
				</div>
			</div>
		</div>
		<!--test-->	
		<div class="row">
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
	</div>

</body>