<html lang="en">
  <head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
	<title>PracticeFile</title>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
	<link rel="stylesheet" href="practicecss.css">
  </head>
  
<body>
<!--<div class= "container-fluid" >	
	<div id="cssmenu">
		
			
			<ul>
				<li><a class = "navbutton" href = "index.html" role = "button">Home</a> </li>
				<li><a class = "navbutton" role = "button" href = "capabilities.html">Industries</a> </li>
				<li><a class = "navbutton" role = "button" href = "capabilities.html">Functions</a> </li>
				<li><a class = "navbutton" role = "button" href = "support.html">Support</a> </li>
				<li><a class = "navbutton" role = "button" href = "about.html">About</a> </li>
				<li><a class = "navbutton" role = "button" href = "about.html">Contact Us</a></li>
				<li><a class = "navbutton" role = "button" href = "#">Blog</a></li>
			</ul>
		</div>
		
	</div>
		
-->

<!--
<div class="container-fluid">
	<div class="navformat">
	
	<div class="container">
			<div><a href="index.html" class="navindex"><img src = "images/whitelogo.png" class="navbarimage" role="button"></a></div>
			<div id='cssmenu'>
				
				
				<ul>
					
					<li><a href='#'><span>Home</span></a></li>
					<li class='active has-sub'><a href='#'><span>Products</span></a>
					  <ul>
						 <li class='has-sub'><a href='#'><span>Product 1</span></a>
							<ul>
							   <li><a href='#'><span>Sub Product</span></a></li>
							   <li class='last'><a href='#'><span>Sub Product</span></a></li>
							</ul>
						 </li>
						 <li class='has-sub'><a href='#'><span>Product 2</span></a>
							<ul>
							   <li><a href='#'><span>Sub Product</span></a></li>
							   <li class='last'><a href='#'><span>Sub Product</span></a></li>
							</ul>
						 </li>
					  </ul>
				   </li>
				   <li><a href='#'><span>About</span></a></li>
				   <li class='last'><a href='#'><span>Contact</span></a></li>
			</ul>
		</div>
	
	</div>
</div>
</div>

<!--<div class="container-fluid">
	<div id="navbar">
		<div class="container">
			<label for="menu-toggle">Solutions</label>  
			<input type="checkbox" id="menu-toggle"/>  
			<ul id="menu">  
			  <li><a href="#">Semoss Desktop</a></li>
			  <li><a href="#">Semoss Web</a></li>
			  <li><a href="#">Nameserver Add-On</a></li>
			</ul>
		</div>
	</div>
</div>-->



	<header>
		<div class="container">
			<a href="index.html"><img class="logo" src="images/whitelogo.png" style="width=100px;" /></a>
			<label class="btn" for="toggle" onclick><img src="images/bg.png"></label>
			<input id="toggle" type="checkbox" />
			
			<nav>
				<ul id="nav">
					<li><a href="#">Back to Post</a></li>
					<li><a href="#">Toggle</a></li>
					<li class="current"><a href="#" class="contains-sub multi">Multi-Toggle</a>
						<ul class="submenu">
							<li><a href="#">Multi-Toggle Sublink 1</a></li>
							<li><a href="index.html">Multi-Toggle Sublink 2</a></li>
							<li><a href="#">Multi-Toggle Sublink 3</a></li>
						</ul>
					</li>
					<li><a href="#">Toggle &amp; Slide</a></li>
					<li id="close"><label for="toggle"></label></li>
				</ul>
			</nav>
		</div>
	</header>

<div class="container">
		<div class="row">
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid5">
				<div class="colortest">
				</div>
			</div>
			<div class="grid7">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid6">
				<div class="colortest">
				</div>
			</div>
			<div class="grid6">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid7">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid8">
				<div class="colortest">
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid9">
				<div class="colortest">
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid10">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid11">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid12">
				<div class="colortest">
				</div>
			</div>
		</div>
		<!--test-->	
		<div class="row">
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
	</div>


</body>