<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">  
		<title>Template</title>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="../js/script.js"></script>
		<script src="../js/d3.v3.min.js"></script>
		<script src="../js/template.js"></script>
		<link rel="stylesheet" href="../css/template.css" type="text/css">
	</head>
  
<body>
<!--Navbar --------------------------->
<div class="container-fluid">
			<div class="navcolor">
				<div class="wrapper">
					<header>					
						<h1 class="logo"><a href="#"><img src="../images/whitelogo.png" style="width:125px; height:25px;"></a></h1>
					
						<nav id="nav-main">
							<ul>
								<li><a href="#">Solutions</a></li>
								<li><a href="#">Industries</a></li>
								<li><a href="#">Capabilities</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">About</a></li>
							</ul>		
						</nav>
						<div id="nav-trigger"><span>Menu</span>
						</div>
						<nav id="nav-mobile"></nav>
				
					</header>
				</div>	
			</div>	
</div>
<!--end Navbar-->


	<div class="indexpage">
		<div class = "jumbodivider">
			<div class="container">
				<h1 class="jumbo">How it works </h1>
				<div class="grid3">
					<a class="jumbo-link" href="#" style="display:inline;">
						<img src="../images/upload.png" class="jumbo-img"/>
						<h4 > Upload Data</h4>
						<p>
						</p>
					</a>	
				</div>
				<div class="grid3">
					<a class="jumbo-link" href="#" style="display:inline;">
						<img src="../images/icon-search.png" class="jumbo-img"/>
						<h4> Explore exisiting datasets</h4>
						<p>
						</p>
					</a>				
				</div>
				<div class="grid3">
					<a class="jumbo-link" href="#" style="display:inline;">
						<img src="../images/upload.png" class="jumbo-img"/>
						<h4> Upload Data</h4>
						<p>
						</p>
					</a>	
				</div>
				<div class="grid3">
					<a class="jumbo-link" href="#" style="display:inline;">
						<img src="../images/icon-search.png" class="jumbo-img"/>
						<h4> Explore exisiting datasets</h4>
						<p>
						</p>
					</a>				
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="container">
						<div class="feature-div">
							<div class="grid7">
								<h2 class="feature">This is the big feature</h2>
								<p class="feature lead">Lorem ipsum dolor sit amet, faucibus parturient lectus ornare conubia magna, torquent id id. Ligula arcu orci sit suscipit. Mauris asperiores nonummy sagittis ultrices quis consequat. Vivamus inceptos molestie et orci lorem at. </p>
							</div>
							<div class="grid5">
								<img class="feature-img" src="../images/teamworking.jpg"/>
							</div>
						</div>
						<div class="feature-div">
							<div class="grid5">
								<img class="feature-img" src="../images/teamtable.jpg"/>
							</div>
							<div class="grid7">
								<h2 class="feature">This is the big feature</h2>
								<p class="feature lead">Lorem ipsum dolor sit amet, faucibus parturient lectus ornare conubia magna, torquent id id. Ligula arcu orci sit suscipit. Mauris asperiores nonummy sagittis ultrices quis consequat. Vivamus inceptos molestie et orci lorem at. </p>
							</div>
							
						</div>
						
					</div>
				</div>

<!--Grid System----------------------->
<div class="container">
		<div class="row">
			<div class="grid1">
				<div class="colortest">grid1
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">grid2
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid3">
				<div class="colortest">grid3
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">grid3
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">grid3
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">grid3
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid4">
				<div class="colortest">grid4
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">grid4
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">grid4
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid5">
				<div class="colortest">grid5
				</div>
			</div>
			<div class="grid7">
				<div class="colortest">grid7
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid6">
				<div class="colortest">grid6
				</div>
			</div>
			<div class="grid6">
				<div class="colortest">grid6
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid7">
				<div class="colortest">grid7
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid8">
				<div class="colortest">grid8
				</div>
			</div>
			<div class="grid4">
				<div class="colortest">grid4
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid9">
				<div class="colortest">grid9
				</div>
			</div>
			<div class="grid3">
				<div class="colortest">grid9
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid10">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid11">
				<div class="colortest">
				</div>
			</div>
			<div class="grid1">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid12">
				<div class="colortest">
				</div>
			</div>
		</div>
		<!--test-->	
		<div class="row">
			<div class="grid3">
				<div class="colortest">
				</div>
			</div>
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid2">
				<div class="colortest">
				</div>
			</div>
		</div>
</div>
<!-- end grid system-->
</body>
</html>