body {
        font-family: 'PT Sans', serif;
        font-size: 14px;
      }
  
/*navbar*/
.navbar {
	max-width: 1170px;
	margin: 0px, auto;
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar-brand>img {
	height:21px;
}

@media screen and (min-width: 768px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: transparent;
	}
}
@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: darkgray;}
}
.navbar-default .navbar-nav>li>a {
	color:white;
	font-weight:bold;
	font-size: 16px;
}
.navbar-default {
	max-width: 100%;
	margin:0 auto;
	background-color: rgba(55, 55, 55, 0.3);
	border-color: transparent;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
img.coverimage {
	width: 100%;
	margin-top: -65px;
	min-height:300px;
	max-height: 600px;
	z-index:0;
}
img.seeforyourself {
	width: 100%;
	min-height:300px;
	max-height: 600px;
	z-index:0;
}
.boldnav {
	font-weight:bold; 
	font-size:16px;
}
/*Rest of screen*/

/*JUMBO*/
/*homepage jumbo color*/
.jumbotron{
	background-color: rgb(49, 132, 147);
}
/*About  jumbo color*/
div.aboutjumbo   {
	background-color: pink;
}
/*Capabilities jumbo color*/
div.capabilitiesjumbo   {
	background-color: #9BB0DB;
}
/*Solutions Jumbo color*/
div.solutionsjumbo {
	background-color: rgb(36, 32, 94);
}

@media screen and (min-width: 768px){
	.jumbotron {
		padding: 0px 0px;
	}
}
@media screen and (max-width: 767px) {
	.jumbotron {
		padding:0px 0px;
	}
}
h3.jumbo {
	text-align:left;
	color:white;
	margin-top:10px;
		
}
h4.jumbo {
	color:white;
	text-align:left;
}
.btn-primary {
	background-color:#9CA2B6;
	border-color:#9CA2B6;
	margin-top:15px;
	
}
.btn-primary:hover {
	background-color:#72788E;
	border-color:#787A81;
	
}

/*homepage columns*/
.col-md-6 {
	text-align:center;
	margin-top:0px;
	
}
.circles {
	padding-bottom: 60px;
}
.img-circle {
	margin: 0 auto;
	display:block;
	width: 90px; 
	height: 90px;
}
hr.footer {
	padding-bottom:20px;
	padding-top:20px;
}
h2.circle {
	text-align: center;
}
p.circle {
	text-align: center;
}

.container {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.navbar-header {
	
}
div.rowHome {
	margin-top:50px;
	margin-bottom:40px;
	
}

h2.featurette-heading {
	font-size:28px;
}
p.lead {
	font-size: 16px;
}

/*About Us Page Images*/
.aboutleads {
	background-color:pink;
	max-width: 350px;
}
.imgBox1, .imgBox1:hover, .imgBox2, .imgBox2:hover, .imgBox3, .imgBox3:hover {
	height:250px;
}
.imgBox1{
	background: url(../images/puppy2.jpg) no-repeat;
	background-size:100%;
}
.imgBox1:hover {
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
.imgBox2{
	background: url(../images/puppy.jpg) no-repeat;
	background-size:100%;
}
.imgBox2:hover {
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
.imgBox3{
	background: url(../images/puppy.jpg) no-repeat;
}
.imgBox3:hover {
	background: url(../images/dog.jpg) no-repeat;
}
/*centering images in columns*/
.imgBox3, .imgBox2, .imgBox1 {
	margin: 0 auto;
	display:block;
}

/*small image boxes- hover change*/
.smImgBox1 {
	width: 91px; 
	height: 91px; 
	background: url(../images/puppy.jpg) no-repeat;
}
.smImgBox1:hover {
	width: 91px; 
	height: 91px; 
	background: url(../images/dog.jpg) no-repeat;
}
/*small image boxes- center*/
.smImgBox1 {
	margin: 0 auto;
	display: block;
}
/* SOLUTIONS PAGE*/
.col-lg-4 {
	text-align: center;
}
.col-md-5 {
	text-align:center;
}
.solutionsOptions {
	margin: 0 auto;
	display: block;
	width:50px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: inline;
	margin: 0 auto;
	
}
/*SEMOSS DESKTOP*/


/*CAPABILITIES PAGE*/
h2.capa, h4.capa, p.capa {
	text-align:left;
}

.capa {
	text-align:left;
	
	
}
.capa-right{
	text-align:right;
}


/*FOOTER*/
.footerlinks {
	display:inline;

}
p.footerlinks {
	font-size: 16px;
	
}


/*hover NAV STUFF
@media (max-width: 767px){
	.sidebar-nav {
		padding: 9px 0;
	}

	.dropdown-menu .sub-menu {
		left: 100%;
		position: absolute;
		top: 0;
		visibility: visible;
		margin-top: -1px;
	}

	/*.dropdown-menu li:hover .sub-menu {
		visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
		margin-top: 0;
	}

	.navbar .sub-menu:before {
		border-bottom: 7px solid transparent;
		border-left: none;
		border-right: 7px solid rgba(0, 0, 0, 0.2);
		border-top: 7px solid transparent;
		left: -7px;
		top: 10px;
	}
	.navbar .sub-menu:after {
		border-top: 6px solid transparent;
		border-left: none;
		border-right: 6px solid #fff;
		border-bottom: 6px solid transparent;
		background-color: rgba(55, 55, 55, 0.3);
		left: 10px;
		top: 11px;
		left: -6px;
	}
}*/

@media (min-width: 768px) {
	.sidebar-nav {
    padding: 9px 0;
	}

	.dropdown-menu .sub-menu {
		left: 100%;
		position: absolute;
		top: 0;
		visibility: hidden;
		margin-top: -1px;
	}

	.dropdown-menu li:hover .sub-menu {
		visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
		margin-top: 0;
	}

	.navbar .sub-menu:before {
		border-bottom: 7px solid transparent;
		border-left: none;
		border-right: 7px solid rgba(0, 0, 0, 0.2);
		border-top: 7px solid transparent;
		left: -7px;
		top: 10px;
	}
	.navbar .sub-menu:after {
		border-top: 6px solid transparent;
		border-left: none;
		border-right: 6px solid #fff;
		border-bottom: 6px solid transparent;
		background-color: rgba(55, 55, 55, 0.3);
		left: 10px;
		top: 11px;
		left: -6px;
	}
	
	.navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}
}

.bold {
	font-weight:bold;
	font-size: 25px;
	}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:#D7D6D6;
}
.dropdown-menu{
	border:0px;
}