p {
	;
}
.navbar {
	max-width: 1170px;
	margin: 0px, auto;
}
.navbar-default {
	max-width: 1170px;
	margin:0 auto;
	background-color: white;
	border-color: white;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-toggle{
	margin-top:15px;
}
.jumbotron{
	
	background-color: rgb(49, 132, 147);
}
div.aboutjumbo   {
	background-color: pink;
}

@media screen and (min-width: 768px){
	.jumbotron {
		padding: 0px 0px;
	}
}
@media screen and (max-width: 767px) {
	.jumbotron {
		padding:0px 0px;
	}
}
h3.jumbo {
	color:white;
	margin-top:20px;
	margin-bottom:20px;	
}
.btn-primary {
	background-color:#9CA2B6;
	border-color:#9CA2B6;
	margin-top:20px;
	
}

.col-md-6 {
	text-align: center;
	margin-top:0px;
}
.img-circle {
	margin: 0 auto;
	display:block;
}
h2.circle {
	text-align: center;
}
p.circle {
	text-align: center;
}

.container {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.navbar-header {
	margin-top: -5px;
}


/*About Us Page Images*/
.imgBox1{
    width: 191px; 
	height: 191px; 
	background: url(../images/puppy.jpg) no-repeat;
}
.imgBox1:hover {
    width: 191px; 
	height: 191px; 
	background: url(../images/dog.jpg) no-repeat;
}
.imgBox2{
    width: 191px; 
	height: 191px; 
	background: url(../images/puppy.jpg) no-repeat;
}
.imgBox2:hover {
    width: 191px; 
	height: 191px; 
	background: url(../images/dog.jpg) no-repeat;
}
.imgBox3{
    width: 191px; 
	height: 191px; 
	background: url(../images/puppy.jpg) no-repeat;
}
.imgBox3:hover {
    width: 191px; 
	height: 191px; 
	background: url(../images/dog.jpg) no-repeat;
}

.imgBox3, .imgBox2, .imgBox1 {
	margin: 0 auto;
}
.smImgBox1 {
	width: 91px; 
	height: 91px; 
	background: url(../images/puppy.jpg) no-repeat;
}
.smImgBox1:hover {
	width: 91px; 
	height: 91px; 
	background: url(../images/dog.jpg) no-repeat;
}



