* {
	box-sizing:border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,h2,h3,h4,h5, h6 {
	line-height:100%;
	padding:5px 0px 4px 0px;
}
/*------------My Styles
===================================================*/
body {
	font-family: 'PT Sans', serif;
    font-size: 14px;
	color:rgb(50, 50, 50);
}
p,
ul {
	font-size:16px;
    margin: 0 0 0em;
	color: rgb(115, 115, 115);
}
ul {
    list-style: disc;
}
a {
    color: gray;
	text-decoration:none;
}
/*------------------HEADERS
=======================================*/
body {
        font-family: 'PT Sans', serif;
        font-size: 14px;
}
h1 {
	font-size:36px;
	color:rgb(60, 60, 60);
	 margin-bottom:1px;
	margin-top:5px
}
h2 {
  color: rgb(65, 65, 65);
  font-size: 1.9em;
 margin-bottom:1px;
  margin-top:5px
}
h3{
  color: rgb(107, 107, 107);
  font-size: 1.7em;
  line-height:1.1;
  margin-bottom:1px;
  margin-top:5px
}
h4 {
  color: rgb(79, 79, 79);
  font-size: 1.5em;
  font-weight: normal;
   margin-bottom:1px;
  margin-top:3px
}
h5 {
  color: rgb(79, 79, 79);
  font-size: 1.4em;
  font-weight: normal;
   margin-bottom:1px;
  margin-top:3px
}
h6 {
  color: rgb(56, 56, 56);
  font-size: 1.1em;
  font-weight: normal;
   margin-bottom:1px;
  margin-top:5px
}
.important {
	font-weight:bold; 
	font-size:50px; 
	line-height:1.2;
}
@media screen and (max-width:50em) {
	.important {
		font-size:40px;
	}
}
.feature {
	color:gray;
}
h2.feature {
	font-size:28px;
}
p.lead {
	font-size:18px;
	color:gray;	
}
p.italic {
	font-style:italic;
}
p.bold {
	font-weight:bold;
}
p.indent {
	text-indent:30px;
}
.margin {
	margin-top:10px;
}
.lightgray {
	color:rgb(140, 140, 140);
}
.darkgray {
	color:#484848;
	}
p.highlight {
	font-size:16px;
	color:gray;
}
.takeaway {
	font-size:18px;
}
.jumbo {
	color:white;
}
.blue {
	color:rgba(13, 83, 255, 1);
}
.gray {
	color:#565656;
}
p.speech
{
	position: relative;
	height: 80px;
	text-align: center;
	line-height: 70px;
	background-color: #fff;
	border: 4px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
h6.jumbo-label {
	font-size:16px;
	margin-bottom: 13px;
}
.jumbo-label {
	
}
p.large {
	font-size:18px;
	line-height:1.4em;
}
.large {
	line-height:1.4em;
}
.inline {
	display:inline;
	padding:0px 10px;
}
p.medium {
 line-height:1.2em;
}
.lineheight {
	line-height:1.2;
}
a.navscroll {
	padding:2px 5px;
	border-left:2px solid transparent;
	display:block;
	font-size:18px;
}
a.active {
	font-size:18px;
	padding:2px 5px;
	border-left:2px solid black;
	color: black;
}
#a-div {
	opacity:1.0;
}
#a-div:hover {
	opacity:0.7;
}
#a-div div img{

	transition: all 0.25s linear;
	-webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
     transform:scale(1);
}
#a-div div img:hover {
	width:100%;
	height:150px;
	transition: all 0.25s linear;
	/*-webkit-transform:scale(1.15); /* Safari and Chrome */
    /*-moz-transform:scale(1.15); /* Firefox */
    /*-ms-transform:scale(1.15); /* IE 9 */
    /*-o-transform:scale(1.15); /* Opera */
    /* transform:scale(1.15);*/
	 overflow:hidden;
}
.jumbo-link{
	opacity:.6;
	transition: opacity .5s ease;
}
.jumbo-link:hover {
	opacity:1;
}
/*----------END HEADERS
----------------------------------------*/
/*------------BUTTTONS
----------------------------------------*/

.bigbluebutton{
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid rgba(47, 107, 255, 1);
	color: rgba(47, 107, 255, 1);
	background: transparent;
	border-radius: 6px;
	font-size: 18px;
	margin:10px;

	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;

}
.bigbluebutton:hover {
	min-width:50px;
	background: rgba(47, 107, 255, 1);
	border: 2px solid rgba(47, 107, 255, 1);
	color: white;
	text-decoration: none;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.whitebutton{
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid white;
	color: white;
	background: transparent;
	border-radius: 6px;
	font-size: 18px;
	margin:10px;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.whitebutton:hover {
	min-width:50px;
	background: white;
	border: 2px solid white;
	color: black;
	text-decoration: none;
}
.smbluebutton {
	transition: all 0.25s linear;
	padding: 0px 12px;
	color: rgba(76, 76, 76, 1);
	background: transparent;
	/* font-weight: bold; */
	font-size: 16px;
	margin:10px 0px;
	display:inline-block;
	line-height: 1.1;
}
.smbluebutton:hover {
	transition: all 0.25s linear;
	padding: 0px 12px;
	color: rgba(140, 140, 140, 1) ;
	background: transparent;
	font-size: 16px;
	margin:10px 0px;
	display:inline-block;
}

.question-active {
	border-bottom: 3px solid rgba(47, 107, 255, 1);
	opacity: .75;
	
}
.question-active:after {
	border-bottom: 3px solid rgba(47, 107, 255, 1);
	opacity: .75;

}
@media screen and (max-width:60em) {	
	.smbluebutton {
		
	}
}
@media screen and (max-width:50em) {	
	.smbluebutton {
		height:60px;
	}
}
@media screen and (max-width:35em) {	
	.smbluebutton {
		height:75px;
	}
	
}
@media screen and (max-width:45em) {
	
	#sticky1 a  {
		margin-top:0px;
		font-size:13px;
		padding: 0px 6px;
		
	}
	#sticky2 a  {
		margin-top:0px;
		font-size:13px;
		padding: 0px 6px;
	}
	#sticky3 a  {
		margin-top:0px;
		font-size:13px;
		padding: 0px 6px;
	}
	#sticky4 a  {
		margin-top:0px;
		font-size:13px;
		padding: 0px 6px;
	}
	.smbluebutton {
		height:20px;
	}
}
@media screen and (max-width:35em) {
	
	#sticky1 a  {
		margin-top:-5px;
		font-size:13px;
		margin-bottom:17px;
		
	}
	#sticky2 a  {
		margin-top:-5px;
		font-size:13px;
		margin-bottom:17px;
	}
	#sticky3 a  {
		margin-top: -5px;
		font-size:13px;
		padding: 0px 6px;
		margin-bottom: 17px;
	}
	#sticky4 a  {
		margin-top:-5px;
		font-size:13px;
		margin-bottom:17px;
	}
	.smbluebutton {
		height:20px;
	}
}

@media screen and (max-width:25em) {
	
	#sticky1 a  {
		margin-top:-10px;
		font-size:12px;
		margin-bottom:18px;
	}
	#sticky2 a  {
		margin-top:-10px;
		font-size:12px;
		margin-bottom:18px;
	}
	#sticky3 a  {
		margin-top:-10px;
		font-size:12px;
		margin-bottom:18px;
	}
	#sticky4 a  {
		margin-top:-10px;
		font-size:12px;
		margin-bottom:18px;
	}
	.smbluebutton {
		height:50px;
	}
	.icon-tab {
		height:172px;
	}
}
@media screen and (max-width:20em) {
	
	#sticky1 a  {
		margin-top:-12px;
		font-size:11px;
		margin-bottom:35px;
	}
	#sticky2 a  {
		margin-top:-12px;
		font-size:11px;
		margin-bottom:35px;
	}
	#sticky3 a  {
		margin-top:-12px;
		font-size:11px;
		margin-bottom:35px;
	}
	#sticky4 a  {
		margin-top:-12px;
		font-size:11px;
		margin-bottom:35px;
	
	}
	.smbluebutton {
		height:55px;
	}
}
@media screen and (max-width:15em) {
	
	#sticky1 a  {
		margin-top:-10px;
		font-size:10px;
		margin-bottom:40px;
		
	}
	#sticky2 a  {
		margin-top:-10px;
		font-size:10px;
		margin-bottom:40px;
	}
	#sticky3 a  {
		margin-top:-10px;
		font-size:10px;
		margin-bottom:40px;
	}
	#sticky4 a  {
		margin-top:-10px;
		font-size:10px;
		margin-bottom:40px;
		
	}
	.smbluebutton {
		height:65px;
	}
}
@media screen and (max-width:59em) {
	.smbluebutton {
		height:50px;
	}
	#sticky1 a img {
		visibility: hidden;
		width:0;
		height:0;
	}
	
	#sticky2 a img {
		visibility: hidden;
		width:0;
		height:0;
	}
	
	#sticky3 a img {
		visibility: hidden;
		width:0;
		height:0;
	}
	
	#sticky4 a img {
		visibility: hidden;
		width:0;
		height:0;
	}
	
}
.div-padding-exsm {
	padding:10px 0px;
}
.bluebutton-md {
	transition: all 0.25s linear;
	padding: 5px 10px;
	border: 2px solid rgba(54, 132, 234, 1);
	color: rgba(54, 132, 234, 1);
	background: transparent;
	border-radius: 6px;
	font-size: 14px;
	margin:10px;
	
}
.bluebutton-md:hover {
	background: rgba(54, 132, 234, 1);
	color: white;
	text-decoration: none;
}
.bigbluebuttonaction{
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid rgba(47, 107, 255, 1);
	color: white;
	background: rgba(47, 107, 255, 1);
	border-radius: 6px;
	font-size: 18px;
	margin:10px;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.bigbluebuttonaction:hover {
	background: rgba(47, 107, 255, 1);
	border: 2px solid rgba(47, 107, 255, 1);
	color: white;
	text-decoration: none;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.bigbluebuttonaction:active {
	background: rgba(47, 107, 255, 1);
	border: 2px solid rgba(47, 107, 255, 1);
	color: white;
	text-decoration: none;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.whitebuttonaction{
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid white;
	color:black;
	background: white;
	border-radius: 6px;
	font-size: 18px;
	margin:10px;
	overflow:hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.whitebuttonaction:hover {
	background: white;
	border: 2px solid white;
	color: black;
	text-decoration: none;
	text-overflow: ellipsis;          
	-o-text-overflow: ellipsis;          
	white-space: nowrap;
	overflow: hidden;
}
.learnmore-link {
	transition: all 0.25s linear;
	color:rgba(54, 132, 234, 1); 
	padding-left:5px;
	padding-right:5px;
}
.learnmore-link:hover {
	color:rgba(50, 104, 174, 1);
	text-decoration:none;
}
.footerlink {
	transition: all 0.15s linear ;
	color:rgb(97, 99, 103);
	font-size:16px;
	margin-right:7px;
}
.media-links {
	display:inline;
}
@media screen and (max-width:30em) {
	.media-links {
		display: table;
		margin: 0 auto;
		padding-top:10px;
	}
	.footerlinks {
		display:table;
		margin:0 auto;
		
	
		/* float: center; */
}
}
.bordertop {
	background: rgb(244, 244, 244);
	border-top:4px solid white;
	border-radius: 15px;
	border-right:4px solid white;
	border-left:4px solid white;
	border-bottom:4px solid white;
		
	/* -webkit-transition: all .5s ease; */ /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
	
}
.bordertop:hover {
	border-bottom:4px solid rgba(215, 215, 215, 1);
	border-right:4px solid white;
	border-left:4px solid white;
	border-bottom:4px solid white;
	border-top:4px solid white;
	background:rgba(230, 230, 230, 1);
}
.bordertop-active {
	

	border-radius: 15px;
	border-right:4px solid white;
	border-left:4px solid white;
	border-bottom:4px solid white;
	border-top:4px solid white;
	background: rgba(47, 107, 255, 1);
}
.footerlink:hover {
	text-decoration:none;
	color:rgba(13, 83, 255, 1);
}
.graybutton{
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid gray;
	color: gray;
	background: transparent;
	border-radius: 6px;
	font-size: 18px;
	margin:10px;
}
.graybutton:hover {
	min-width:50px;
	background: gray;
	color: white;
	text-decoration: none;
}
.graybuttonaction {
	transition: all 0.25s linear;
	padding: 10px 20px;
	border: 2px solid gray;
	color: white;
	background: gray;
	border-radius: 6px;
	font-size: 18px;
	margin:10px;
	overflow:hidden;
	white-space: nowrap; 
}
.graybuttonaction:hover {
	background: rgb(155, 155, 155);
	border: 2px solid rgb(155, 155, 155);
	color: white;
	text-decoration: none;
}
.img-link {
	display:table;
	
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.img-link:hover {
	overflow:hidden;
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}



}
/*--------------End Button
----------------------------------------------------------------*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Divs
===============================================================*/
.fullscreen-image{	
	
	background-size:cover;
	background-position:center;
	background-size:100%;
 }
 .fullscreen-color {

	margin-top:-68px;
	background-size:cover;
	background-position:center;

 }
 .container-lg {
	width:92%;
	max-width:90em;
	margin:0 auto;
 }
 .container {
	width: 92%;
	max-width:70em;
	margin:0 auto;
}
 .container-sm {
	width: 92%;
	max-width:60em;
	margin:0 auto;
}
.caption-large {
	padding-top:285px;
	text-align:center;
	padding-bottom:175px
}
@media screen and (max-width:60em) {	
	.caption-large {
		padding-top:155px;
	}
}
@media screen and (max-width:35em) {	
	.caption-large {
		padding-top:125px;
	}
}  
@media screen and (max-width:25em) {	
	.caption-large {
		padding-top: 60px;
	}
}  
.caption-md {
	padding-top:150px;
	padding-bottom:75px;
	text-align:center;
}
.container-fluid {
	padding:0px;

}
.div-focus {
	background: rgba(182, 182, 182, 1);
	
	height:175px;
	padding:20px;
	transition: all 0.15s linear;

}
#sticky {
	-webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.fixed {
	position:fixed;
	top: 0; 
	width:100%;
	z-index: 1;
	border-bottom:1px solid rgb(207, 207, 207);
	padding:10px 0px;
	height:auto;
	
}
.div-focus:hover {
	background: rgba(71, 151, 255, 1);

}
.buttons {
	line-height:50px;
}
.border-left {
	border-left:1px solid gray;
}
.footerlinks {
	line-height:24px;
}
.feature-div {
	position:relative;
	background:  white;
	display:table;
	padding:20px 20px;
	margin:30px 0px;
}
.feature-div-sm {
	position:relative;
	background:white;
	display:table;
	padding:20px 0px;
	margin:20px 0px;	
}
.feature-takeaway {
	padding: 15px 20px;
	margin-bottom:20px;
	width:100%;
	border: 1px solid rgba(47, 107, 255, 1);
	border-radius:6px;
}
.fix-search {
	position:fixed;
	top:0px;
	
}
.purple {
	background:rgba(133, 108, 255, 1);
}
.red {
	background:rgb(255, 141, 158);
}
.green {
	background: rgba(118, 233, 164, 1);
}
.jumbodivider {
	text-align: center;
	display:table;
	width:100%;
	padding: 0px 0px;
}
.centeredgrid {
	text-align:center;
	margin:0 auto;
}
div#sticky.container-fluid.scroll-to-fixed-fixed {
	border-bottom: 1px solid rgb(220, 220, 220);
}
.fullscreenimage {
	position:relative;
	background: url(../myimages/laptop3.jpg) no-repeat;
	background-size:cover;
	background-position:center;
	height:100%;
}
.videobanner {
	text-align:center;
	padding-top: 60px;
	padding-bottom: 350px;
}
div.rowHome {
	margin-bottom:50px;

}
.indexpage {
	position:relative;
	text-align:center;
}
.code {
	font-family:gudea;
	background-color:#F5F5F5;
	border:1px solid #D8D8D8;
	border-radius:4px;
	overflow-wrap: break-word;
	padding:10px;
	margin:15px 0px;
}
.div-padding-lg {
	padding:100px 0px;
}
.div-padding-md{
	padding:50px 0px;
}
.div-padding-sm {
	padding:25px 0px;
}

.display-table {
	display:table;
}
.padding-none {
	padding:0;
}
.div-padding-side {
	padding:0 20px;
}
.headings {
	margin-bottom:30px;
}
.div-wrapper {
	overflow:hidden;
}
@media only screen and (max-width: 90em) {
	#fixit {
		visibility:hidden;
		width:0px;
		margin-top:0px;
		height:0px;
		margin-left:0px;
	}
	.fixit {
		width:0px;
		margin-top:0px;
		height:0px;
		margin-left:0px;
	}
}

/*         media queries      */
@media only screen and (min-width: 90em) {
	.wrapper {
		position:relative;
		width:90em;
		margin:auto;
	}
}

/*------------END Divs
-----------------------------------------------------------*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR
=======================================================*/
/*HEADER*/
.navcolor {
	
}
header:before,
header:after {
    content:"";
    display:table;
    }        
header:after {
    clear:both;
}      
/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
	}
h1.logo {
	padding:0px;
	margin-top:0px;
}
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
	padding-lefT:20px;
	margin-top:20px;
	margin-bottom:20px;
}
/*  ============================   Nav
-------------------==========================================--- */

#nav-trigger {
	display: none;
	float:right;
	text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 26px 30px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
	transition: background-color 0.5s ease;
	margin-top:-1px;

	}
    #nav-trigger span:after {
		display: inline-block;
		margin-left: 10px;
		width: 20px;
		height: 10px;
		border-left: solid 10px transparent;
		border-top: solid 10px #fff;
		border-right: solid 10px transparent; 
		}
    #nav-trigger span:hover {
		background-color: rgba(95, 95, 95, 1);
		color:white;}
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent;  }

nav#nav-main {
	float:right;
	padding: 10px 0;
}
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    /*border-right: solid 1px rgba(165, 165, 165, 1);*/
    padding: 0 4px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
	background-color: transparent;
	
    transition: all 0.15s linear;
	border:0px;
	display: block;
    color: #414141;
    padding: 12px 15px; 
	font-weight: bold;
	
	text-transform: uppercase;}
  nav#nav-main a:hover {
     
	  border-radius:0px;
      color: #000000; }
nav#nav-main a.navselected {
		
	  
      color: #000000; }  
nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
	top:65px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	z-index:100;
    background-color: rgba(95, 95, 95, .9); }
  nav#nav-mobile li {
    display: block;
    border-bottom: solid 1px rgba(95, 95, 95, 1) }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
	transition: background-color 0.5s ease;
    color: white;
    padding: 15px 30px; }
    nav#nav-mobile a:hover {
      background-color: rgba(95, 95, 95, 1);
      color: #fff; }

/*   Navbar Media Queries
------------------- */
@media all and (max-width: 59em) {
  #nav-trigger {
    display: block;
	font-weight:bold;	}

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}
/*-----------End NAVBAR
------------------------------------------------------------*/
/*------------WHITE NAVBAR----------------------------------*/
#nav-trigger-white {
	display: none;
	float:right;
	text-align: center; }
  #nav-trigger-white span {
    display: inline-block;
    padding: 26px 30px;
    color:white;
    cursor: pointer;
    text-transform: uppercase;
	transition: background-color 0.5s ease;
	margin-top:-1px;

	}
    #nav-trigger-white span:after {
		display: inline-block;
		margin-left: 10px;
		width: 20px;
		height: 10px;
		border-left: solid 10px transparent;
		border-top: solid 10px #fff;
		border-right: solid 10px transparent; 
		}
    #nav-trigger-white span:hover {
		background-color: rgba(50, 50, 50, 1);
		color:white;}
    #nav-trigger-white span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent;  }
nav#nav-main-white {
	float:right;
	padding: 10px 0;
}
  nav#nav-main-white ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main-white li {
    display: inline-block;
    /*border-right: solid 1px rgba(165, 165, 165, 1);*/
    padding: 0 4px; }
    nav#nav-main-white li:last-child {
      border-right: none; }
  nav#nav-main-white a {
	background-color: transparent;
    transition: all 0.15s linear;
	border:0px;
	display: block;
    color: white;
    padding: 12px 15px; 
	font-weight: bold;
	text-transform: uppercase;}
  nav#nav-main-white a:hover {
     
	  border-radius:0px;
      color: lightgrey; }
nav#nav-main-white a.navselected {
 
      color: lightgrey; }  
nav#nav-mobile-white {
  position: relative;
  display: none; }
  nav#nav-mobile-white ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
	top:65px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	z-index:100;
    background-color: rgba(47, 47, 47, 0.9); }
  nav#nav-mobile-white li {
    display: block;
    border-bottom: solid 1px rgba(63, 63, 63, 1) }
    nav#nav-mobile-white li:last-child {
      border-bottom: none; }
  nav#nav-mobile-white a {
    display: block;
	transition: background-color 0.5s ease;
    color: white;
    padding: 15px 30px; }
    nav#nav-mobile-white a:hover {
      background-color: rgba(75, 75, 75, 1);
      color: #fff; }

/*   Navbar Media Queries
------------------- */
@media all and (max-width: 59em) {
  #nav-trigger-white {
    display: block;
	font-weight:bold;	}

  nav#nav-main-white {
    display: none; }

  nav#nav-mobile-white {
    display: block; }
}


/*----------------------------------------------end WHITE NAVBAR*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~GRID SYSTEM
===========================================================*/
.row {
	display:block;
}
.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
/**
* For IE 6/7 only
*/
.row {
  *zoom: 1;
}

.colortest {
	background-color:rgb(215, 215, 215);
	height:45px;
	margin-top:10px;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 , .grid7, .grid8, .grid9, .grid10, .grid11 , .grid12, .grid1-sm{
	width:100%;	
	float:left;
	padding: 0 1%;
	margin:0 auto;
	
}
@media screen and (min-width:10em) {
	.grid1-sm {
		width:50%;
	}
}
@media screen and (min-width:20em) {
	.grid1-sm {
		width:33.33333%;
	}
}
@media screen and (min-width:30em) {
	.grid1-sm {
		width:25%;
	}
}
@media screen and (min-width:45em) {
	.grid1-sm {
		width:20%;
	}
}
@media screen and (min-width:50em) {
	.grid1-sm {
		width:16.6666%;
	}
}
@media screen and (min-width:60em) {
	.grid1-sm {
		width:10.1%;
	}
}
.grid3-sp {
	width:25%;
	float:left;
	padding: 0 1%;
	margin:0 auto;
}
.grid6-sp {
	width:50%;
	float:left;
	padding: 0 1%;
	margin:0 auto;
}
@media screen and (min-width:50em) {
	
	.grid1 {
		width:8.33333333%;
	}
	.grid2 {
		width:16.6666666667%;
	}
	.grid3 {
		width:25%;
	}
	.grid4 {
		width:33.333333%;
	}
	.grid5 {
		width:41.6666666666667%;
	}
	.grid6 {
		width:50%;
	}
	.grid7 {
		width:58.333333333%;
	}
	.grid8 {
		width:66.666666666%;
	}
	.grid9 {
		width:75%;
	}
	.grid10 {
		width:83.333333%;
	}
	.grid11 {
		width:91.666666667%;
	}
	.grid12 {
		width:100%;
	}	
}
.offset {
	height:5px;
}
/*----------END GRID SYSTEM
---------------------------------------------------------------------------*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~images etc
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
=================================================================*/
.icon-md {
	margin: 0 auto;
	display:block;
	width: 120px; 
	height: 120px;
	padding:20px;	
}
.icon-sm {
	margin: 0 auto;
	display:block;
	width: 100px; 
	height: 100px;
	padding:20px;	
}
.icon-heading {
	padding:5px;
	color:rgba(50, 50, 50, 1);
}
.icon-description {
	font-size:16px;
	padding:5px;
	color:rgba(72, 72, 72, 1);
}
.footerimage {
	min-width: 100%;
	width: 100%;
	height: 80px;
	top: 55px;
	left: 0px;
	margin-top:20px;
}
.jumbo-img {
	width:90px; 
	height:95px; 
	margin:0 auto; 
	padding:15px 0px;
	margin-top: 10px;
}
.feature-img {
	width:100%;
}
.feature-img-sm {
	max-height:150px;
	width:100%;
}
.social-icon {
	float: right;
	height:20px;
	max-width:35px;
	padding:0px 5px;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray; /* Firefox 3.5+ */
    filter: gray; /* IE6-9*/
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	opacity:.6;
}
.social-icon:hover {
	opacity:1;
	filter: none; /* Firefox 3.5+ */
    filter: none; /* IE6-9*/
    -webkit-filter: grayscale(0); /* Google Chrome & Safari 6+ */
}
.opacity {
	opacity:.61;
}
.opacity:hover {
	opacity:.9;
}
.darken {
	opacity:.7;
	width:55px; 
	height:15px;
}
.darken:hover {
	opacity:1;
	width:55px; 
	height:15px;
}


/*img sources!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.img-thumbnail {
	width:100%;
	height:100px;
	margin:5px;
	border:1px solid #D7D7D7;

}
#img-thumbnail-lg {
	width:100%;
	height:540px;
	margin:5px;
	border:1px solid #D7D7D7;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}



/*hover images*/
.imgBox1, .imgBox1:hover, .imgBox2, .imgBox2:hover, .imgBox3, .imgBox3:hover {
	height:200px;
}
.imgBox1{
	background: url(../images/puppy2.jpg) no-repeat;
	background-size:100%;
	border-radius:10px;
}
.imgBox1:hover {
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
.imgBox2{
	background: url(../images/puppy.jpg) no-repeat;
	background-size:100%;
	border-radius:10px;
}
.imgBox2:hover {
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
.imgBox3{
	background: url(../images/puppy.jpg) no-repeat;
	background-size:100%;
	border-radius:10px;
}
.imgBox3:hover {
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
/*centering images in columns*/
.imgBox3, .imgBox2, .imgBox1 {
	margin: 0 auto;
	display:block;
}

/*small image boxes- hover change*/
.padding-none {
	padding: 5px 0px;
}
.smImgBox1 {
	background: url(../images/puppy.jpg) no-repeat;
	width: 100% ;
	height: 91px; 
	
	background-size:100%;
}
.smImgBox1:hover {
	width: 100%; 
	height: 91px; 
	background: url(../images/dog.jpg) no-repeat;
	background-size:100%;
}
.smImgBox2 {
	background: url(../images/kitten.jpg) no-repeat;
	width: 100%; 
	height: 91px; 
	
	background-size:100%;
}
.smImgBox2:hover {
	width: 100%; 
	height: 91px; 
	background: url(../images/cat.jpg) no-repeat;
	background-size:100%;
}
.aboutleads {
	/* background-color:rgba(195, 195, 195, 0.17); */
	padding:10px;
	
	min-height: 450px;
	border-radius:10px;
	margin:10px 0px;
	max-width: 270px;
	margin: 0 auto;
	/* text-align:center; */	
	/* border: 1px solid rgba(47, 107, 255, 1); */
}
.div-explore, .div-connections, .div-insights {
	
}
.div-explore:hover {
	background: url(../images/metamodel-science.png) no-repeat;
	opacity:.7;
	background-size:100%;
}
.div-connections:hover {
	background: url(../images/heatmap.png) no-repeat;
	opacity:.7;
	background-size:100%;
}
.div-insights:hover {
	
	background: url(../images/healthgrid.jpg) no-repeat;
	background-color:rgba(54, 132, 234, .9);
	opacity:.7;
	background-size:100%;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END IMAGES!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*~~~~~~~~~~~~~~~~~~~TABS ~~~~~~~~~~~~~~~~
================================================*/

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs6 input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs5 input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs4 input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs3 input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs2 input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6 {
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 5px auto;
}
.tabs li {
	float:left;

}
.tabs2 li{
	float: left;
	width:50%;	
}
.tabs3 li{
	float: left;
	width:33.33333333333%;	
}
.tabs4 li {
	float: left;
	width:25%;
}

.tabs5 li{
	float: left;
	width:20%;	
}
.tabs6 li{
	float: left;
	width:16.66666666666%;	
}
.tabs label, .tabs2 label, .tabs3 label, .tabs4 label, .tabs5 label, .tabs6 label {
	margin:10px 10px;
    display: block;
    padding: 10px 20px;
	padding-bottom:30px;
    border-radius: 2px 2px 0 0;
    color: blue;
    font-size: 16px;
    font-weight: normal;
	text-align:center;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	/*filter: gray; /* Firefox 3.5+ */
    /*filter: gray; /* IE6-9 */
    /*-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	opacity:.8;
	border-top: 5px solid transparent;
	
}
.tabs label:hover, .tabs2 label:hover, .tabs3 label:hover, .tabs4 label:hover, .tabs5 label:hover, .tabs6 label:hover {
   
	border-top:5px solid rgba(54, 132, 234, 1) ;
	top: 0;
	opacity:.8;
	filter:none;
		-webkit-filter: grayscale(0%);
}   
[id^=tab]:checked + label {
	border-top: 5px solid rgba(80, 147, 234, 1) ;
	border-top: 5px solid rgba(80, 147, 234, 1) ;
    background-color:white;
    filter:none;
	-webkit-filter: grayscale(0%);
    top: 0;
	opacity:1;
    }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        font-size: 20px;
        line-height: 140%;
        padding-top: 10px;
        /*background: rgba(245, 245, 245, 1);*/
        padding: 15px;
        color: white;
        position: absolute;
        top: 143px;
        left: 0;

        box-sizing: border-box;
        -webkit-animation-duration: .5s;
        -o-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
      }
.tab-spacer {
	height:1000px;
}
ul#checkmark li {
	list-style-type:none;
	font-size:20px;
	color:#8F8F8F;
	padding:2px;
}
ul#list li {
	list-style-type:disc;
	list-style:disc;
	display:list-item;
	color:#8F8F8F;
	font-size:16px;
	float:left;
	display:block;
	width:100%;
	display:list-item;
	list-style-type:disc;
	list-style:disc;
	margin-left:20px;
	
}
ul#list {
	list-style-type:disc;
	list-style:disc;
	display:list-item;
	line-height:1.2;
	padding:2px 5px;
	width:100%;
	margin-left: 12px;
	margin-right: -15px;
}
@media screen and (max-width:50em) {	
	.tab-spacer {
		height:1500px;
	}
}  
@media screen and (max-width:35em) {
	.tabs li, .tabs2 li, .tabs3 li , .tabs4 li , .tabs5 li , .tabs6 li  {
		width:100%;
	}
	.tab-content{
		top: 560px;
	}
	.tab3-content {
		top:420px;
	}
	.tab-spacer {
		height:1500px;
	}
}
/*OPTION TAB*/
.single-line-tab {
	top:75px;
}
.optiontab {

}
.optiontab label {
	background: rgba(248,248,248,1);
	padding:15px 20px;
	border-top:5px solid  transparent;
	
}
.optiontab label:hover {
	background: rgba(243, 243, 243, .99);
	padding:15px 20px;
}

.sizing {
	max-width:100%;
}
.visible {
	visibility:hidden;
}
/*NAV SCROLL */
#nav-scroll {
	
	
	padding-left: 40px;
	padding-top: 20px;
	/* bottom: 15px; */
	
}
.sidebar {
	position:relative;
}
.sidebar-fix {
	position:fixed;
	top:25px;
	right:3%;
	width:22%;
	max-height:100%;
}
@media screen and (max-width:70em) {
	#nav-scroll {
		
	}
}
a.navscroll2 {
	padding:2px 5px;
	border-left:2px solid transparent;
	display:block;
	font-size:16px;
}
a.scroll-active2 {
	font-size:16px;
	padding:2px 5px;
	border-left:2px solid black;
	color: black;
}
a.navscroll2:hover {
	border-left:2px solid rgba(0,0,0,.8);
	color:black;
}

a.navscroll {
	padding:2px 5px;
	border-left:2px solid transparent;
	display:block;
	font-size:16px;
}
.top {
	top:30;
}
a.scroll-active {
	font-size:16px;
	padding:2px 5px;
	border-left:2px solid black;
	color: black;
}
a.navscroll:hover {
	border-left:2px solid rgba(0,0,0,.8);
}
/*NAV SCROLL2 */
#nav-scroll2 {
	
	
	padding-left: 40px;
	padding-top: 20px;

	
}
.sidebar2 {
	/* position:relative; */
}
.sidebar-fix {
	position:fixed;
	top:25px;
	right:5%;
	bottom:15px;
	width:22%;
	max-height:100%;
}
@media screen and (max-width:70em) {
	#nav-scroll2 {
		
	}
}
@media screen and (max-width:65em) {
	.scroll-top {
		visibility:hidden;
	}
}


/*footer formatting*/
#content {
	width:100%;
	position:absolute;}
#footer {
	width:100%;
	height:200px;
	position:absolute;
	bottom:0px;
	}